div {
    width: 300px;
    margin: auto;
    
}

div a {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid grey;
    border-top: none;
    padding: 5px 10px ;
}

p {
    border: 1px solid grey;
    border-bottom: none;
    text-align: center;
    background-color: darkgray;
    padding: 10px 0;
    font-variant: small-caps;
    margin: 0 auto;
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
}

div a:hover {
    background-color: #bc835c;
    color: white;
}